body{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.brunch_container{
  position: relative;
  font-family: 'Noto Sans KR';
}
/************** header *************/
header{
  width:100%;
  padding:10px;
  position: sticky;
  top:0;
  background-color: #fff;
  z-index: 99;  
}
.header_more{
  position: absolute;
  background-color: red;
  top:0;
  left:-1000px;
}
.header_more.active{
  left:0;
}
.header_title{
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.header_side_l{
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;  
}
.header_side_l i{
  font-size: 36px;
  cursor: pointer;
}
.header_logo{
  position:relative;
  font-size: 22px;
  font-weight: 600;
}
.header_logo:after{
  content: '';
  position:absolute;
  top:0;
  right:0;
  width:53px;
  height:2px;
  background-color: black;
}
.header_side_r{
  display: flex;
  align-items: center;
  gap:15px;
  margin-right: 30px;
}
.header_side_start{
  border:1px solid #777;
  border-radius: 35px;
  padding:5px 10px;
  color:#777;
  font-size: 14px;
}
.header_side_search i{
  font-size: 28px;
}
/* ************ brunch_intro *********** */
.brunch_intro{
  margin:0 auto;
  width:1020px;
  padding:20px 0;
  line-height: 1.3;
}
.intro_title h1{
  font-weight: 200;
  font-size: 40px;
}
.intro_title h2{
  font-weight: 200;
  font-size: 36px;
  color:#777;
}
.intro_title h3{
  font-weight: 200;
  color:#ddd;
  font-size: 36px;
}

/* **************brunch_news************ */
.brunch_news{
  margin:0 auto;
  width:1020px;
  height:50px;
  line-height: 50px;
}
.brunch_news.sliders{
  text-align: right;
}
.brunch_news.sliders span{
  font-style: italic;
  color:#7bd3ea;
  font-size: 14px;
}
.brunch_news.slider a{
  color:#000;
  text-decoration: none;
  font-size: 14px;
}
.brunch_news.slider a:hover{
  text-decoration: underline;
}
/* **********brunch_recommend_common********** */
.brunch_recommend{
  width:100%;
  position: relative;
}
.brunch_recommend.sliders{
  position:relative;
  width:100%;
}
.brunch_recommend.slider{
  margin:0 auto;
  width:1020px;
  height:510px;
}
.brunch_recommend.wrap{
  position: relative;
  color:#fff;
  overflow: hidden;
  display: block;
}
.brunch_recommend.wrap:hover .brunch_recommend.img_wrap{
  transform: scale(1.1);
}
.brunch_recommend.wrap:hover .brunch_recommend.img_wrap:before{
  opacity: 0.5;
  transition:0.35s;
}
.brunch_recommend.img_wrap{
  position: absolute;
}
.brunch_recommend.img_wrap:before{
  position: absolute;
  content: '';
  top:0;
  left:0;
  width:100%;
  height:510px;
  background-color:#000;
  opacity: 0.3;
}
.brunch_recommend.desc{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.brunch_recommend.title{
  font-weight: 200;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.brunch_recommend.sub_title{
  margin-bottom: 20px;
  line-height: 1.4;
}
.recoomend_by{
  font-size: 14px;
}
.recoomend_by span{
  font-style: italic;
}
/* .brunch_recommend - slider custom */
.brunch_recommend .slick-prev,
.brunch_recommend .slick-next{
  position:absolute;
  z-index: 99;
  width:100px;
  height:100px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.2;
}
.brunch_recommend .slick-prev{
  left:50px;
}
.brunch_recommend .slick-prev::before{
  content: '\f3cf';
  font-family: 'ionicons';
  opacity: 1;
  color:#fff;
}
.brunch_recommend .slick-next{
  right:50px;
}
.brunch_recommend .slick-next::before{
  content: '\f3d1';
  font-family: 'ionicons';
  opacity: 1;
  color:#fff;
}
/* dots */
.brunch_recommend .slick-dots{
  bottom:-40px;
}
.brunch_recommend .slick-dots li{
  position: relative;
  width:15px;
}
.brunch_recommend .slick-dots li:before{
  color:#777;
  font-size: 14px;
  font-weight: 600;
}
.brunch_recommend .slick-dots li:nth-child(1)::before{
  content: '01';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(2)::before{
  content: '02';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(3)::before{
  content: '03';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(4)::before{
  content: '04';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(5)::before{
  content: '05';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(6)::before{
  content: '06';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(7)::before{
  content: '07';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(8)::before{
  content: '08';
  position: absolute;
}
.brunch_recommend .slick-dots li:nth-child(9)::before{
  content: '09';
  position: absolute;
}
.brunch_recommend .slick-dots li button:before{
  content: '';
}
/* dots-active */
.brunch_recommend .slick-dots .slick-active::before{
  color:#000;
  transform: translateY(-2px);
}
/* type1 */
.brunch_recommend.slider.type1{
  display: flex;
}
.brunch_recommend.slider.type1 > div{
  flex:1;
}
.brunch_recommend.slider.type1 > div:nth-child(2){
  display: flex;
  flex-direction: column;
}
.brunch_recommend.slider.type1 .brunch_recommend.wrap{
  flex:1;
  width:510px;
  height:510px;
}
/* type2 */
.brunch_recommend.slider.type2{
  display: flex;
}
/* type3 */
.brunch_recommend.slider.type3{
  display: flex;
  flex-direction: column;
}
.brunch_recommend.slider.type3 > div{
  display: flex;
  flex:1;
}
/* type4 */
.brunch_recommend.slider.type4{
  display: flex;
  flex-direction: column;
}
.brunch_recommend.slider.type4 > div{
  flex:1;
}
.brunch_recommend.slider.type4 > div:nth-child(1) .brunch_recommend.wrap{
  width:1020px;
  height:255px;
}
.brunch_recommend.slider.type4 > div:nth-child(2){
  display: flex;
} 






